@import "normalize";
@import "lightgallery";
@import "lg-transitions";
@import "uikit.min";

// Styling for Thumbnails


// this gets rid of default styling from figure 

figure {
    
    margin: 0;
    
}

h1 {
    
}

html {
    background-image: url(/img/Rose_1.JPG);
    
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

